{% extends 'rider/base.html' %}

{% block styles %}
  {{block.super}}
{% endblock %}

{% block content %}
  <div class="container-fluid">
   <div class="row" id="rowmanipulate">
    <div class="col-md-1 col-lg-1" id="row1">
    </div>
    <div class="col-md-2 col-lg-2" id="row2">
        <div class="row line">
          <img src="{{rider.driverprofile.prof_pic.url}}" alt="profile pic" height="180px" width="180px" id="picture">
          <h4 class="text-center">{{rider.first_name}}</h4>
        </div>
        <div class="row line">
          <h3 class="text"><a href="{% url 'rider' rider.id %}">Profile</a></h3>
        </div>
        <div class="row line">
          <h3><a href="">Ride</a></h3>
        </div>
        <div class="row line">
          <h3><a href="">Payment</a></h3>
        </div>
        <div class="row line">
          <h3><a href="{% url 'index' %}">Sign Out</a></h3>
        </div>
    </div>
    <div class="col-md-7 col-lg-7" id="row3">
        <div class="row">
          <a href="{% url 'edit_rider_profile' rider.id %}"><button class="btn btn-primary" style="margin-top: -10px; margin-bottom: 7px; margin-left: 38%;">CHANGE LOCATION</button></a>
          {% if nearby_drivers %}
            <h2 class="text-center">{{nearby_drivers|length}} drivers near you.</h2>
             {% for driver in nearby_drivers %}
              <div class="panel panel-default" style="width: 300px;">
                <div class="panel-body">
                  <img src="{{driver.driver_profile.prof_pic.url}}" height="150px" width="270px" style="margin-left: 0%;">
                  </div> 
                  <h5 class="text-center">{{driver.driver_profile.driver.first_name}}{{driver.driver_profile.driver.last_name}}</h5>
                  <h5 class="text-center">Destination: <span style="color: #1fbad6;">{{driver.destination}}</span></h5>
                  <h5 class="text-center">Time: <span style="color: #1fbad6;"> {{driver.time}}</span></h5>
                </div><br>                 
              </div>                               
            {% endfor %}
          {% else %}
            <h1 class="text-center text-danger">No drivers near {{location}}</h1>
          {% endif %}
        </div>
    </div>
    </div>
    <div class="nav">
      <nav class="navbar navbar-inverse navbar-fixed-bottom" id="footer">
        <div class="navbar-text pull-right">Site built by nevooronni</div>
      </nav>
    </div>
   </div>
{% endblock %}