.navbar {
  border-radius: 0px;
}

#down {
  margin-top: 62px;
}

#ridealong {
  color: #000;
  font-weight: bold;
  margin-left: 24px;
}

#driver {
  position: relative;
  top: -7px;
  right: 10px;
  background-color: #C90000;
  color: #fff;
  border-radius: 0px;
}

#driver2 {
  position: relative;
  top: -15px;
  right: 10px;
  padding-top: 13px;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  font-size: ;
}

#driver2:hover {
  border-top-style: solid;
  border-top-color: #008000;
  border-top-width: 4px;
  color: #008000;
}

.move {
  margin-left: 50px;
}

.red {
  color: #C90000;
  font-weight: bold;
}

#sign {
  background-color: #C90000;
  color: #fff;
  border-radius: 0px; 
}

.navbar-inverse {
  background-color: #000;
  border-color: #000;
}

#low {
  margin-left: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

#footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

#up {
  margin-left: 260px;
  height: 40px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 0px;
  width: 180px;
}

#dere {
  margin-right: 360px;
  height: 40px;
  width: 180px;
  border-radius: 0px;
  color: #fff;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

#jumbo2 {
  background-image: url("static/img/background_new-bcfeff309a.jpg");
}

#bar {
  background-color: #fff;
  color: #000;
  border-radius: 0px;
  width: 80px;
  height: 100px;
}

#pagesign {
  margin-top: 8%;
  margin-left: 18%;
  margin-bottom: 4%;
  font-size: 46px;
  color: #111;
}

.glyphicon-arrow-right {
  margin-left: 15%;
  color: #fff;
}

.now {
  width: 200px;
  border-radius: 0px;
  height: 50px;
  color: #fff;
  background-color: #C90000;
}


.now:hover {
  color: #fff;
  background-color: #960a0a;
}

#drop {
  margin-top: 130px;
}

#color {
  color: green;
}

#loginbar {
  background-color: blue;
   z-index: 2;
}

#topbutton {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  height: 80px;
  width: 135px;
  border-radius: 0px;
  position: absolute;
  top: 3%;
  left: 45%;
  z-index: 4;
}

#less {
  margin-top: 80px;
}

#downdown {
  margin-top: 10%;
}

#left {
  margin-left: 36%;
}
