{% extends 'rider/base.html' %}

{% block styles %}
  {{block.super}}
{% endblock %}

{% block content %}
  <div class="container-fluid">
   <div class="row" id="rowmanipulate">
    <div class="col-md-2 col-lg-2" id="row1">
    </div>
    <div class="col-md-2 col-lg-2" id="row2">
        <div class="row line">
          <img src="{{rider.riderprofile.prof_pic.url}}" alt="profile pic" height="180px" width="180px" id="picture">
          <h4 class="text-center">{{rider.first_name}}</h4>
        </div>
        <div class="row line">
          <h3 class="text"><a href="{% url 'rider' rider.id %}">Profile</a></h3>
        </div>
        <div class="row line">
          <h3><a href="">Ride</a></h3>
        </div>
        <div class="row line">
          <h3><a href="">Payment</a></h3>
        </div>
        <div class="row line">
          <h3><a href="{% url 'index' %}">Sign Out</a></h3>
        </div>
    </div>
    <div class="col-md-6 col-lg-6" id="row3">
        <div class="row">
          <div class="container" style="width: 650px; height: 400px; margin-top: -34px;">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="text-center" style="color: #1fbad6;">Edit {{rider.first_name}} {{rider.last_name}}</h2>
              </div>
              <div class="panel-body" style="height: 507px;">
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <br>
                  <br>
                  <div class="form-group">
                    {{edit_profile_form.prof_pic.label}} 
                    {{edit_profile_form.prof_pic}}
                    {{edit_profile_form.prof_pic.errors}}
                  </div>
                  <br>
                  <br>
                  <div class="form-group">
                    {{edit_profile_form.gender.label}} : 
                    {{edit_profile_form.gender}}
                    {{edit_profile_form.gender.errors}}      
                  </div>
                  <br>
                  <br>
                  <div class="form-group">
                    {{edit_profile_form.email.label}} 
                    {{edit_profile_form.email}}
                    {{edit_profile_form.email.errors}}
                  </div>
                  <br>
                  <br>
                  <div class="form-group">
                    {{edit_profile_form.home_address.label}} : 
                    {{edit_profile_form.home_address}}
                    {{edit_profile_form.home_address.errors}}
                  </div>
                  <br>
                  <input type="submit" class="btn btn-primary btn-sm" value="EDIT PROFILE">
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2" id="row4">
    </div>
    </div>
    <div class="nav">
      <nav class="navbar navbar-inverse navbar-fixed-bottom" id="footer">
        <div class="navbar-text pull-right">Site built by nevooronni</div>
      </nav>
    </div>
   </div>
{% endblock %}