{% extends 'driver/base.html' %}

{% block styles %}
  {{block.super}}
{% endblock %}

{% block content %}
  <div class="container-fluid">
   <div class="row" id="rowmanipulate">
    <div class="col-md-2 col-lg-2" id="row1">
    </div>
    <div class="col-md-2 col-lg-2" id="row2">
        <div class="row line">
          <img src="{{driver.driverprofile.prof_pic.url}}" alt="profile pic" height="180px" width="180px" id="picture">
          <h4 class="text-center">{{driver.first_name}}</h4>
        </div>
        <div class="row line">
          <h3 class="text"><a href="{% url 'driver' driver.id %}">Profile</a></h3>
        </div>
        <div class="row line">
          <h3><a href="{% url 'drive' driver.id %}">Drive</a></h3>
        </div>
        <div class="row line">
          <h3><a href="{% url 'create_journey' driver.driverprofile.id %}">Create Journey</a></h3>
        </div>
        <div class="row line">
          <h3><a href="{% url 'index' %}">Sign Out</a></h3>
        </div>
    </div>
    <div class="col-md-6 col-lg-6" id="row3">
        <div class="row">
          <a href="{% url 'create_journey' driver.driverprofile.id %}"><button class="btn btn-primary" style="margin-top: -10px; margin-bottom: 7px;">NEW JOURNEY</button></a>
          {% if journeys %}
            {% for journey in journeys %}
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5>Departure Time: <span style="color: #1fbad6;">{{journey.time}}</span></h5>
                  <h5>Current Location : <span style="color: #1fbad6;">{{journey.current_location}}</span></h5>
                  <h5>Destination : <span style="color: #1fbad6;">{{journey.destination}}</span></h5> 
                </div><br>                 
              </div>                               
            {% endfor %}
          {% else %}
            <h3 class="text-center text-danger">You do not have any journeys yet!</h3>
          {% endif %}
        </div>
    </div>
    <div class="col-md-2 col-lg-2" id="row4">
    </div>
    </div>
    <div class="nav">
      <nav class="navbar navbar-inverse navbar-fixed-bottom" id="footer">
        <div class="navbar-text pull-right">Site built by nevooronni</div>
      </nav>
    </div>
   </div>
{% endblock %}