{% extends 'driver/base.html' %}

{% block styles %}
  {{block.super}}
{% endblock %}

{% block content %}
  <div class="container-fluid">
   <div class="row" id="rowmanipulate">
    <div class="col-md-2 col-lg-2" id="row1">
    </div>
    <div class="col-md-2 col-lg-2" id="row2">
        <div class="row line">
          <img src="{{driver.driverprofile.prof_pic.url}}" alt="profile pic" height="180px" width="180px" id="picture">
          <h4 class="text-center">{{driver.first_name}}</h4>
        </div>
        <div class="row line">
          <h3 class="text"><a href="{% url 'driver' driver.id %}">Profile</a></h3>
        </div>
        <div class="row line">
          <h3><a href="{% url 'drive' driver.id %}">Drive</a></h3>
        </div>
        <div class="row line">
          <h3><a href="{% url 'create_journey' driver.driverprofile.id %}">Create Journey</a></h3>
        </div>
        <div class="row line">
          <h3><a href="{% url 'index' %}">Sign Out</a></h3>
        </div>
    </div>
    <div class="col-md-6 col-lg-6" id="row3">
        <div class="row">
          
          <div class="container" style="width: 650px; height: 400px; margin-top: -34px; padding-top: 51px;">
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color: #333;">
                <h2 class="text-center" style="color: #fff;">Create Journey</h2>
              </div>
              <div class="panel-body" style="height: 300px; padding-top: 35px; padding-left: 160px;">
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <br>
                  <div class="form-group">
                    {{form.current_location.label}} : 
                    {{form.current_location}}
                    {{form.current_location.errors}}
                  </div>
                  <br>
                  <div class="form-group">
                    {{form.destination.label}} : 
                    {{form.destination}}
                    {{form.destination.errors}}
                  </div>
                  <br>
                  <input type="submit" class="btn btn-primary btn-sm" value="CREATE JOURNEY" style="width: 62%; margin-left: 0%; font-weight: bold; height: 10%;">
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2" id="row4">
    </div>s
    </div>
    <div class="nav">
      <nav class="navbar navbar-inverse navbar-fixed-bottom" id="footer">
        <div class="navbar-text pull-right">Site built by nevooronni</div>
      </nav>
    </div>
   </div>
{% endblock %}